.wrapper {
   width: 900px;
   margin: 0 auto;
   font-family: lato;
   margin-top: 50px;
  }

.allsections div{
  display: inline-flex;
}
#service-tiles p {
  color: #fff;
  text-align: center;
}

#main-content {
  margin-left: 40px;
  margin-right: 40px;
}

#service-tiles img {

  margin-top: 20px;
   height: 250px;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid #fff;
  overflow: hidden;
}

div p a:hover {
  color: #fff;
}

h5 {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 35px;
}


#l{
  color: #695F69;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 16.5px;
}

#k {

  display: inline;
  text-align: justify;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 16.5px;
}

#service-tiles img:hover {
   box-shadow: 0 2px 6px 2px #695F69;
}

 .service-tiles{
   width: 50%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 70px;
   }

#main-content p{
    line-height: 25px;
    color: #fff;
    text-align: center;
    }
.section-1{
    width: 290px;
    float: left;
    margin-right: 10px;
    }
.section-1 img{
     width: 100%;
    }
.yellow-color {
     color: #fff;
     text-align: center;
     }
.section-1 img: hover {
    border: 2px solid #fcba03;
  }


.btndiv{
  text-align: center;

}
.button {
  margin: auto;
  background-color: #4CAF50; /* Green */
  border: 2px solid #fff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  
  display: grid;
  font-size: 16px;
  border-radius: 12px;
  
}

.button:hover {
  background-color: #fff; /* Green */
  color: #4CAF50;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 767px)
{
    h3 {
      font-size: 20px; 
    }
}

@media (max-width: 479px)
{
    h3 {
      font-size: 15px;
    }
    #service-tiles a {
      font-size: 10px;
    }
}